<span class="custom_switcher">
	<label data-bind="css: {'checked': weekMO}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_MON'}"></span>
		<input type="checkbox" data-bind="checked: weekMO" />
	</label>

	<label data-bind="css: {'checked': weekTU}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_TUE'}"></span>
		<input type="checkbox" data-bind="checked: weekTU" />
	</label>

	<label data-bind="css: {'checked': weekWE}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_WED'}"></span>
		<input type="checkbox" data-bind="checked: weekWE" />
	</label>

	<label data-bind="css: {'checked': weekTH}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_THU'}"></span>
		<input type="checkbox" data-bind="checked: weekTH" />
	</label>

	<label data-bind="css: {'checked': weekFR}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_FRI'}"></span>
		<input type="checkbox" data-bind="checked: weekFR" />
	</label>

	<label data-bind="css: {'checked': weekSA}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SAT'}"></span>
		<input type="checkbox" data-bind="checked: weekSA" />
	</label>

	<label data-bind="css: {'checked': weekSU}">
		<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_SUN'}"></span>
		<input type="checkbox" data-bind="checked: weekSU" />
	</label>
</span>
