<div class="popup edit_invite_popup" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="i18n: {'key': '%MODULENAME%/HEADING_MESSAGE_TO_ATTENDEE'}"></span>
		
		<div class="editor" data-bind="template: {name: oHtmlEditor.ViewTemplate, data: oHtmlEditor}"></div>
	
		<div class="buttons">
			<span class="button contour_button back" data-bind="i18n: {'key': '%MODULENAME%/ACTION_BACK'}, click: cancelPopup"></span>
			<span class="button save" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, click: save"></span>
		</div>
	</div>
	<span class="helper"></span>
</div>
