<div class="popup calendar_popup calendar_getlink" style="display: none;">
	<div class="mask" data-bind="click: cancelPopup"></div>
	<div class="popup_panel">
		<span class="close" data-bind="click: cancelPopup"></span>
		<span class="popup_heading" data-bind="style: {backgroundColor: selectedColor}, i18n: {'key': '%MODULENAME%/HEADING_GET_CALENDAR_LINK'}"></span>

		<div class="fields">
			<div class="fieldset dav_access">
				<div class="row">
					<label for="dav_url" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_DAV_URL'}"></label>
					<input id="dav_url" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: calendarUrl(), click: function () {$element.select();}" readonly />
				</div>
				<div class="row">
					<label for="ics_link" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ICS_LINK'}"></label>
					<input id="ics_link" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: icsLink(), click: function () {$element.select();}"  readonly />
					<a class="control download" data-bind="attr: {href: exportUrl()}"></a>
				</div>
			</div>
			<div class="fieldset web_access" data-bind="visible: canShare()">
				<div class="row" data-bind="visible: isPublic()">
					<label for="public_link" class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_WEB_LINK'}"></label>
					<input id="public_link" class="value input" spellcheck="false" type="text" maxlength="200" data-bind="value: pubUrl(), click: function () {$element.select();}" readonly />
					<a class="control delete" data-bind="click: () => updateCalendarPublic(false)"></a>
				</div>
				<div class="row" data-bind="visible: !isPublic()">
					<label class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_WEB_LINK'}"></label>
					<div style="display: inline-block; margin: -2.5px 0;">
						<span class="button" data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_LINK'}, click: () => updateCalendarPublic(true)"></span>
					</div>
				</div>
			</div>		
			<div class="buttons">
				<span class="button" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_CLOSE'}, click: cancelPopup"></span>
			</div>
		</div>
	</div>
	<span class="helper"></span>
</div>
